<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjfn.springboot.mapper.SysRoleMapper">
    <select id="selectById" resultType="com.bjfn.springboot.entity.SysRole">
        select * from sys_role
        <where>
            id = #{id}
        </where>
    </select>
</mapper>
